# Laravel & Build directories
/vendor
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/app/ssl
Homestead.json
Homestead.yaml

# Environment files
.env
.env.backup

# Testing & Analysis
/.phpunit.cache
.phpunit.result.cache
.phpactor.json
/.playwright-mcp

# Package manager logs
npm-debug.log
yarn-error.log
package-lock.json

# IDE & Editor configs
/.fleet
/.idea
/.nova
/.vscode
/.zed

# Project specific
/.caddy
/certs
/auth.json
